@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@200;300;400;500;600&family=Poppins:wght@200;300;400;500&family=Sora:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

* {
    overflow-x: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #66339933;
    background-color: #fff;
}

::-webkit-scrollbar {
    display: none;
}

$bg_color : #663399;

@mixin flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin text($size, $weight) {
    font-size: $size;
    font-weight: $weight;
    font-family: "Montserrat";
}

@mixin image {
    filter: brightness(90%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 4vw;
    background-color: $bg_color;
    width: 100vw;

    .logo {
        // height: 56px;
        width: 170px;
        background: none
    }
}

.navflex1 {
    @include flexbox;
    flex-direction: row;
    gap: 5vw;
    background-color: $bg_color;

    .navFlex {
        @include flexbox;
        background-color: $bg_color;

        img {
            height: 48px;
            width: 48px;
            background: $bg_color
        }

        p {
            @include text(0.9em, 400);
            color: #fff;
            background: none
        }
    }
}

.section1 {
    height: fit-content;
    @include image;
    filter: brightness(60%);
    padding: 32px 2vw;
    text-align: center;
    z-index: 2;
    overflow: hidden;

    .mainText {
        @include text(4.5rem, 700);
        font-family: "Dancing Script";
        // font-style: italic;
        z-index: 4;
        width: 42vw;
        margin: auto;
        line-height: 100px;
        background: none;
        margin-bottom: 24px;
    }

    .purpleText {
        @include text(2rem, 500);
        position: relative;
        font-style: normal;
        color: #fff;
        background-color: rgb(102, 51, 153, 0.6);
        padding: 24px 2vw;
        z-index: 12;
        margin: 0 -2vw -32px -2vw;
        filter: brightness(100%);
    }
}

.section2 {
    padding: 16px 2vw;

    .text2 {
        @include text(1.2rem, 500);
        background: none;
    }
}

.section3 {
    padding: 16px 2vw;
    padding-bottom: 32px;

    p {
        color: #fff;
        @include text(1.4rem, 500);
        background: none;
        // text-align: center;
    }

    background-color: $bg_color;

    .text3 {
        font-weight: 600;

    }
}

.section4 {
    padding: 16px 2vw;
    padding-bottom: 32px;

    p {
        @include text(1.4rem, 500);
        background: none;
    }

    background-color: #fff;
}

.section5 {
    padding: 16px 2vw;

    .heading {
        padding: 0;

        background-color: #fff;
    }
}

.section6 {
    padding: 16px 2vw;
    padding-bottom: 32px;
    background-color: #fff;

    .flex6 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80vw;
        margin: auto;

        #yt {
            width: 11.4vw;
        }

        #fb {
            width: 6.4vw;
        }

        #sc {
            width: 6vw;
        }

        #tt {
            width: 10vw;
        }

        #insta {
            width: 7.2vw;
        }
    }

    .flexLogo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        img {
            width: 12vw;
            margin: 0 4vw;
        }
    }
}

.section8 {
    padding: 16px 2vw;

    ul {
        list-style-image: none;

        li {
            @include text(1.2rem, 500);
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            flex-direction: row;

            img {
                display: inline;
                margin: 4px;
                margin-right: 1vw;
            }
        }
    }
}

.image {
    background: none;
    margin: 0 -2vw;

    img {
        background: none;
        width: 100vw;
        // height: 800px;
        margin: 16px -2vw;
    }

    @include image;

    text-align: center;
}

.testimonial {
    border: 8px solid;
    margin: 24px 2vw;
    border-radius: 8px;
    @include text(1rem, 500);
    padding: 16px;
}

.heading {
    background-color: $bg_color;
    @include text(1.5rem, 600);
    width: 100vw;
    padding: 8px;
    text-align: center;
    margin: 0 -2vw 32px -2vw;

    span {
        background-color: white;
        padding: 8px 4vw;
    }
}

.book {
    padding: 8px 4vw;
    background-color: $bg_color;
    display: flex;
    justify-content: space-between;

    div {
        background: none;
    }

    .computer {
        width: 14vw;
        // height:80px;
        background-color: $bg_color;
    }

    .bookText {
        @include text(1.3rem, 500);
        border: 8px solid orangered;
        border-radius: 8px;
        padding: 16px;
        width: 76vw;
        background: none;
        background-color: #fff;
        margin-bottom: 8px;
    }

    p span {
        font-weight: 600;
        background: none;
    }

    .starFlex {
        background: none;
        display: flex;
        width: 70vw;
        gap: 2vw;
        align-items: center;

        p {
            @include text(1.3rem, 400);
            background: none;
            color: #fff;
        }
    }

    .stars {
        display: flex;
        gap: 1vw;
    }

    .star {
        background: none;
        color: #fff;
        width: 32px;
    }
}

footer {
    @include flexbox;
    background-color: #000;
    padding: 24px 2vw;

    p {
        background: none;
        color: #fff;
        @include text(1.1rem, 400);
        margin-bottom: 16px;
    }

    .call {
        color: #000;
        background-color: #fff;
        padding: 8px 4vw;
        border-radius: 8px;
        margin: 64px 0;
        cursor: pointer;
    }

    .call a {
        text-decoration: none;
        color: #000;
    }

    img {
        background: none;
    }
}

@media(max-width:1200px) {
    .section1 .mainText {
        width: 50vw;
    }
}

@media(max-width:1000px) {
    .section1 .mainText {
        width: 58vw;
    }
}

@media(max-width:800px) {
    .book {
        padding-right: 2vw;
        padding-left: 2vw;

        .computer {
            width: 16vw;
        }
    }
}

@media(max-width:700px) {
    .book {
        .computer {
            width: 18vw;
        }

        .bookText {
            font-size: 1.1rem;
            padding: 8px;
        }

        .starFlex {
            p {
                font-size: 1.1rem;
            }
        }
    }

    .heading {
        font-size: 1.3rem;
    }
}

@media(max-width:600px) {
    .section1 {
        .mainText {
            width: 70vw;
        }

        .purpleText {
            font-size: 1.7rem;
        }
    }

    .section3 p,
    .section4 p {
        font-size: 1.2rem;
    }

    .section6 .flex6 {
        #yt {
            width: 13.4vw;
        }

        #fb {
            width: 8.4vw;
        }

        #sc {
            width: 8vw;
        }

        #tt {
            width: 12vw;
        }

        #insta {
            width: 9.2vw;
        }
    }

    .section8 {
        ul {
            li img {
                width: 32px;
                height: 32px;
            }
        }
    }

    .book {
        padding-right: 2vw;
        padding-left: 2vw;

        .computer {
            width: 20vw;
        }

        .star {
            width: 24px;
        }

        .starFlex {
            p {
                font-size: 1rem;
            }
        }
    }
}

@media(max-width:500px) {
    .book {
        padding-right: 2vw;
        padding-left: 2vw;

        .computer {
            width: 22vw;
        }

        .bookText {
            font-size: 0.9rem;
            width: 70vw;
        }

        .starFlex {
            p {
                font-size: 0.8rem;
            }
        }
    }

    .heading {
        font-size: 1.1rem;
    }

    .section8 ul li,
    .section3 p,
    .section4 p {
        font-size: 1rem;
    }
}

@media(max-width:450px) {
    .section1 .mainText {
        width: 74vw;
        font-size: 4rem;
    }

    .navflex1 {
        .navFlex {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }

    footer p {
        text-align: center;
        font-size: 1rem;
    }

    .book {
        .bookText {
            font-size: 0.7rem;
        }

        .starFlex p {
            font-size: 0.6rem;
        }

        .star{
            width:20px;
            height:20px;
        }
    }
}